---
title: EDB Postgres Service Broker for Pivotal Cloud Foundry
owner: Partner Services
---

This documentation describes the EnterpriseDB (EDB) Postgres Service Broker tile for Pivotal Cloud Foundry (PCF). 

The EDB Postgres Service Broker tile registers a service broker on PCF and exposes a service plan on the Marketplace. Developers can provision a PostgreSQL database by creating instances of the service plan using Apps Manager or the cf Command Line Interface (CLI).

##<a id='overview'></a> Overview

The EDB Postgres Service Broker provides a single service plan which provisions a PostgreSQL database on a shared PostgreSQL server.

When a developer creates an instance of the service plan, the EDB Postgres Service Broker creates a new PostgreSQL database on the PostgreSQL server.

When a developer binds an application to a service instance, the binding call provisions credentials and delivers them to the application. When a developer unbinds a service instance, the unbinding call disables the database role created by the binding.

When a developer deprovisions a service instance, the EDB Postgres Service Broker deletes the corresponding database and role bindings.

##<a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about EnterpriseDB Postgres Service Broker for Pivotal Cloud Foundry:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.15</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 5, 2016</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>EnterpriseDB Postgres Service Broker v1.0.15</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, OpenStack, and vSphere</td>
    </tr>
</table>

##<a id='requirements'></a> Requirements

To install the EDB Postgres Service Broker tile on your PCF deployment, you must have a PostgreSQL 9.x server running. You can use a generic PostgreSQL 9.x server or the EDB Postgres Advanced Server. Customers interested in using the EDB Postgres Advanced Server can obtain a 60-day free trial license from the EDB [website](http://www.enterprisedb.com/downloads/postgres-postgresql-downloads).

The EDB Postgres Service Broker uses two PostgreSQL tables (service & binding) in the master database for its metadata.

##<a id='feedback'></a> Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list.




