---
title: EDB Postgres Service Broker for Pivotal Cloud Foundry&reg;
owner: Partner Services
---

This documentation describes the EnterpriseDB (EDB) Postgres Service Broker tile for Pivotal Cloud Foundry&reg; (PCF). 

The EDB Postgres Service Broker tile registers a service broker on PCF and exposes a service plan on the Marketplace. Developers can provision a PostgreSQL database by creating instances of the service plan using Apps Manager or the cf Command Line Interface (CLI).

##<a id='overview'></a> Overview

The EDB Postgres Service Broker provides a single service plan which provisions a PostgreSQL database on a shared PostgreSQL server.

When a developer creates an instance of the service plan, the EDB Postgres Service Broker creates a PostgreSQL database on the PostgreSQL server. Each service instance connects to a single database that is secure from other databases on the server.

When a developer binds a service instance to an application, the binding call provisions credentials and delivers them to the application. When a developer unbinds a service instance, the unbinding call disables the database user role if there are no other bindings.

When a developer deletes a service instance, the EDB Postgres Service Broker deprovisions the PostgreSQL database and deletes all resources.

##<a id='snapshot'></a> Product Snapshot

<dl>
<dt>EnterpriseDB Postgres Service Broker tile for Pivotal Cloud Foundry Details: </dt>
<dd><strong>Version</strong>: 1.0.14 </dd>
<dd><strong>Release Date</strong>: 07-20-2016</dd>
<dd><strong>Software component version</strong>: EnterpriseDB Postgres Service Broker 1.0.14</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.5.x, 1.6.x, 1.7.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.4.x, 1.5.x, 1.6.x, 1.7.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>Azure support?</strong> Yes</dd>
</dl>

##<a id='requirements'></a> Requirements

To install the EDB Postgres Service Broker tile on your PCF deployment, you must have a PostgreSQL 9.x server running. You can use a generic PostgreSQL 9.x server or the EDB Postgres Advanced Server. Customers interested in using the EDB Postgres Advanced Server can obtain a 60-day free trial license from the EDB [website](http://www.enterprisedb.com/downloads/postgres-postgresql-downloads).

The EDB Postgres Service Broker uses a PostgreSQL table for its metadata.

##<a id='feedback'></a> Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list.




